= render 'layouts/bagboy/form_errors', { model: user }

%form{ action: path, method: 'post' }
  .row
    .large-12.columns
      %input{ type: 'text', id: 'user_email', name: 'user[email]', placeholder: 'E-Mail', value: user.email }
  .row
    .large-12.columns
      %input{ type: 'password', id: 'user_password', name: 'user[password]', placeholder: 'Password' }
  .row
    .large-12.columns
      %input{ type: 'password', id: 'user_password_confirmation', name: 'user[password_confirmation]', placeholder: 'Password Confirmation' }
  .row
    .large-12.columns
      %button.button.tiny{ type: 'submit', id: 'submit' } Submit