%h1= "Editing #{@user.email}"

.button-bar
  %ul.button-group
    %li
      %a.button.tiny{ href: user_path( @user.id ) }= "Back to #{@user.email}"
  %ul.button-group
    %li
      %a.button.tiny{ href: users_path } Back to Users

%hr

= render 'form', {path: update_user_path(@user.id), user: @user}
