%h1 Users

.button-bar
  %ul.button-group
    %li
      %a.button.tiny{ href: new_user_path } New User

%hr

%table
  %thead
    %tr
      %th Email
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td
          %a{ href: user_path(user.id) }= user.email
        %td
          %a{ href: user_path(user.id) } View
        %td
          %a{ href: edit_user_path(user.id) } Edit
        %td
          %a.confirm{ href: delete_user_path(user.id) } Delete