%h1= @user.email

.button-bar
  %ul.button-group
    %li
      %a.button.tiny{ href: edit_user_path( @user.id ) }= "Edit #{@user.email}"
  %ul.button-group
    %li
      %a.button.tiny{ href: users_path } Back to Users

%hr