/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
form.tabled
{
  margin: 0;

  button
  {
    margin: 0 !important;
  }
}

.alert-box
{
  h5 {
    color: white;
  }
}