- template.parsed_data.each do |key, value|
  .row
    .large-2.columns
      %label.right.inline{ for: "#{namespace}_#{key}" }= key
    .large-10.columns
      - if value == 'text'
        %input{ type: 'text', id: "#{namespace}_#{key}", name: "#{namespace}[#{key}]", placeholder: '', value: item.data[key] || '' }
      - elsif value == 'password'
        %input{ type: 'text', id: "#{namespace}_#{key}", name: "#{namespace}[#{key}]", placeholder: '', value: '' }
        %span.secondary.label{ style: 'margin-bottom: 1em'} Leave blank to not change password
      - elsif value == 'array'
        - @item.data[key].to_a.each do |data_item|
          %input{ type: 'text', id: "#{namespace}_#{key}", name: "#{namespace}[#{key}][]", placeholder: '', value: data_item || '' }
        %div{id: "array_#{key}"}
        - div_id  = "#array_#{key}"
        - id      = "#{namespace}_#{key}"
        - name    = "#{namespace}[#{key}][]"
        %a.button.tiny.success{ href: '#', id: "array_button_#{key}", onclick: "addElement('#{div_id}','#{id}','#{name}')" }
          %i.fa.fa-plus
          Add Item