%h1= "Editing #{@item.name}"

.button-bar
  %ul.button-group
    %li
      %a.button.tiny{href: data_bag_items_path({bag: @bag.name, item: @item.name})}= "Back to #{@item.name}"
  %ul.button-group
    %li
      %a.button.tiny{href: data_bag_path(@bag.name)}= "Back to #{@bag.name}"

%hr

%form{ action: update_data_bag_item_path({bag: @bag.name, item: @item.name}), method: 'post' }
  = render 'form', template: @template, item: @item, namespace: 'data_bag_template_item'
  .row
    .large-2.columns
    .large-10.columns
      %button.button.small{ type: 'submit' } Submit
