%h1= "Item: #{@item.name}"
%h3.subheader= "From #{@bag.name} data bag"

.button-bar
  %ul.button-group
    %li
      %a.button.tiny{href: edit_data_bag_item_path({bag: @bag.name, item: @item.name})} Edit
  %ul.button-group
    %li
      %a.button.tiny{href: data_bag_path(@bag.name)}= "Back to #{@bag.name}"

%hr

%table
  %thead
    %tr
      %th{ width: '200' } Key
      %th Value
  %tbody
    - @item.data.each do |key, value|
      %tr
        %td= key
        %td
          - if value.kind_of?(Array)
            %ul
              - value.each do |value_item|
                %li= value_item
          - else
            = value