%h1 New Item

.button-bar
  %ul.button-group
    %li
      %a.button.tiny{href: data_bag_path(@bag.name)}= "Back to #{@bag.name}"

%hr

%form{ action: create_data_bag_item_path({bag: @bag.name}), method: 'post' }
  .row
    .large-2.columns
      %label.right.inline{ for: "data_bag_template_item" } Name
    .large-10.columns
      %input{ type: 'text', id: "data_bag_template_item", name: "data_bag_template_item[name]"}
  %hr
  = render 'form', template: @template, item: @item, namespace: 'data_bag_template_item_data'

  .row
    .large-2.columns
    .large-10.columns
      %button.button.small{ type: 'submit' } Submit
