%h1 Please Sign In to Continue

%hr

%form{ action: bagboy_signin_path, method: 'post' }
  .row
    .large-12.columns
      %input{ type: 'text', name: 'email', placeholder: 'E-Mail' }
  .row
    .large-12.columns
      %input{ type: 'password', name: 'password', placeholder: 'Password' }
  .row
    .large-12.columns
      %button.button.tiny{ type: 'submit', id: 'submit' } Submit

- if Bagboy::User.count == 0
  = link_to 'Create User', bagboy_signup_path