%h1 Overview

%hr

%table
  %thead
    %tr
      %th Key
      %th Value
  %tbody
    %tr
      %td chef_repo path
      %td= Bagboy.chef_repo
    - if Bagboy.site_name != ''
      %tr
        %td Site Name
        %td= Bagboy.site_name
    %tr
      %td SCM
      %td= Bagboy.scm
    - if Bagboy.key_path != ''
      %tr
        %td Key Path
        %td= Bagboy.key_path
    - if Bagboy.config_path != ''
      %tr
        %td Config Path
        %td= Bagboy.config_path

