- unless model.errors.empty?
  %div{"data-alert" => "", class: "alert-box alert"}
    - model.errors.messages.each do |name, error|
      %h5= "#{name.to_s.gsub('_', ' ').capitalize}:"
      %ul
        - error.each do |error_message|
          %li= error_message