%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        %a{ href: root_path }= Bagboy.site_name

    %li.toggle-topbar.menu-icon
      %a{ href: root_path }
        %span Menu

  %section.top-bar-section
    %ul.left
      
      %li.has-dropdown
        %a{ href: data_bags_path }
          %i.fa.fa-archive
          Data Bags
        %ul.dropdown
          %li
            %a{ href: new_data_bag_path }
              %i.fa.fa-plus
              New Data Bag
          - @bags.each do |bag|
            %li
              %a{href: data_bag_path(bag.name)}= bag.name
      %li.has-dropdown
        %a{ href: users_path }
          %i.fa.fa-users
          Users
        %ul.dropdown
          %li
            %a{ href: new_user_path }
              %i.fa.fa-plus
              New User
      %li
        %a{ href: update_path, id: 'chef_repo_update' }
          %i.fa.fa-refresh
          Update chef-repo
      
    %ul.right
      
      - if current_user
        %li.has-dropdown
          %a{ href: user_path(current_user.id) }
            %i.fa.fa-user
            =current_user.email
          %ul.dropdown
            %li.has-dropdown
              %a{ href: signout_path }
                %i.fa.fa-sign-out
                Logout
