!!!
%html
  %head
    %title= "#{Bagboy.site_name}"
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
    = javascript_include_tag "bagboy/application"
    = stylesheet_link_tag    "bagboy/application", media: "all"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body
    = render 'layouts/bagboy/header'
    - flash.each do |name, msg|
      %div{"data-alert" => "", class: "alert-box #{name}"}
        = msg
        %a.close{href: "#"} ×
    .row
      .large-12.columns
        = yield
  :javascript
    $(document).foundation();