%form{ action: create_data_bag_path, method: 'post' }
  .row
    .large-2.columns
      %label.right.inline{ for: 'data_bag_name' } Name
    .large-10.columns
      %input{ type: 'text', id: 'data_bag_name', name: 'data_bag[name]', placeholder: 'Name' }
  .row
    .large-2.columns
    .large-10.columns
      %button.button.small{ type: 'submit' } Submit
