%h1 Data Bags

.button-bar
  %ul.button-group
    %li
      %a.button.tiny{ href: new_data_bag_path } New Data Bag

%hr

%table
  %thead
    %tr
      %th Name
      %th
      %th
  %tbody
    - @bags.each do |bag|
      %tr
        %td
          %a{href: data_bag_path(bag.name)}= bag.name
        %td
          %a{href: data_bag_path(bag.name)} View
        %td Delete