%h1= "Items for #{@bag.name}"

.button-bar
  %ul.button-group
    %li
      %a.button.tiny{ href: new_data_bag_item_path(@bag.name) } New Item
    %li
      %a.button.tiny{ href: data_bag_template_path(@bag.name) } Template
  %ul.button-group
    %li
      %a.button.tiny{ href: data_bags_path } Back to Data Bags

%hr

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @items.each do |item|
      %tr
        %td
          %a{href: data_bag_items_path({bag: @bag.name, item: item.name})}= item.name
        %td
          %a{href: data_bag_items_path({bag: @bag.name, item: item.name})} View
        %td
          %a{href: edit_data_bag_item_path({bag: @bag.name, item: item.name})} Edit
        
        %td Delete